<h1>mainのページ</h1>

<%#シミュレータ全体%>
<div id = "ns_all">
  <div id = "ns_container">
    <%#シミュレータ上部のアイコンやボタン%>
    <div id = "ns_nav">
      <%#モード変更ボタン%>
      <div class = "change_mode draw tooltip tooltip_mode">
        <input type = "radio" name = "DorQ" id = "mode_draw" checked= "" autocomplete= "off">
        <label for = "mode_draw" class = "mode_draw">自由描画</label>

        <input type = "radio" name = "DorQ" id = "mode_question" autocomplete = "off">
        <label for = "mode_question" class = "mode_question">問題演習</label>
        <span>モードを選択します</span>
      </div>

      <civ class = "height_line"></civ>
      <div class = "tooltip tooltip_start">
        <img src ="/assets/start.png" id = "start" title = "実行">
        <span>ネットワークの判定をします</span>
      </div>

      <div class = "height_line"></div>
      <div class = "tooltip tooltip_check">
        <img src = "/assets/check.png" id = "check" title = "情報を確認">
        <span>ノードごとの情報を確認します</span>
      </div>
    </div>

    <%#左側のあれこれ%>
    <div class = "ns_left">
    </div>
    <<%#シミュレートする部分%>
    <div class = "ns_main">
    </div>
    <%#右側のシミュレートの詳細上部%>
    <div class = "ns_right-info">
    </div>
    <%#右側のシミュレートの詳細中身%>
    <div class = "ns_right">
    </div>

    <%#コンソール上部%>
    <div class = "ns_console-info">
    </div>
    <%#コンソール内部%>
    <div class = "ns_console">
    </div>
    <%#グレー%>
    <div class = "glay_layer">
    </div>

  </div>
</div>








<%= form_tag("/", method: :get) do %>
<input type = "submit" value = "topへ">
<% end %>
