<h1>tempのページ</h1>
<p>テスト用</p>
<dev id="text">jquery未実装</dev>
<%= form_tag('/', method: :get) do %>
<input type = "submit" value = "topへ">
<% end %>




<dev class="PC">
<%= image_tag('/assets/pc.png') %>
</dev>
