@charset "UTF-8";

#ns_all{
/**float: left;*/
width: 900px;
}

/*フォントの設定*/
#ns_container, #glayLayer {
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}

/*枠の描画*/
#ns_nav, #ns_left, #ns_main, #ns_right, #ns_console{
  float: left;
  border: 1px solid #999;
  background: #FFF;
}




/**********メインの設定**********/
#ns_main{
  height: 400px;
  width: 600px;
}
/******************************/

#ns_main .lanOn{
  opacity: 0.6;
}

/**********左サイドの設定********/
#ns_left{
  margin-right: 3px;
  padding: 5px 5px;
  width: 82px;
  height: 549px;
}

#ns_left .machine{
  margin: 0 6px;
}
/******************************/


#ns_right{
  margin-left: 2px;
  height: 379px;
  width: 197px;
  font-size: 13px;
  overflow: scroll;
}

#ns_right dl{
  margin: 0;
}

#ns_right dt{
  height: 15px;
}

#ns_right dt img {
  margin: 0 4px 0 2px;
}

#ns_right img:hover {
  opacity: 0.4;
}

#ns_right dd {
  margin-left: 18px;
}

#ns_right p {
  margin: 0;
}

#ns_rightInfo{
  margin-left: 2px;
  width: 199px;
}


#ns_console{
  padding: 2px;
  height: 130px;
  width: 797px;
  overflow: scroll; /*ボックス内に入らない場合の処理*/
}

/*まだわからない*/
#ns_console p{
  margin: 0;
  padding: 0;
  font-size: 12px;
}

#ns_consoleInfo{
  margin-top: 2px;
  width: 803px;
}

#ns_rightInfo, #ns_consoleInfo{
  float: left;
  margin: 0;
}
#ns_rightInfo p, #ns_consoleInfo p{
  margin: 0;
  padding: 1px 1px 1px 4px;
  border: 1px solid #999;
  background: #ddd;
  height: 17px;
  font-size: 12px;
}


#ns_rightInfo{
  margin-left: 2px;
  margin: 0;
}

/* #ns_consoleInfo{
  margin-top: 2px;
  width: 803px;
} */


/* clearfixらしい
#ns_container:after, #studymenuForm:after {
  content: "";
  display: block;
  clear: both;
} */

/*********ツールの設定*************/
#ns_nav{
  margin-bottom: 2px;
  padding: 2px;
  height: 42px;
  width: 894px;
}

#ns_nav img{
  padding: 1px 3px;
  height: 40px;
  width: 40px;
  float: left;
}

#questionTip{
  display:none;
}



div.tooltip span{
  display: none;
}

div.tooltip:hover span{
  display: inline-block;
  position: absolute;
  top: 50px;
  background-color: rgba(0, 255, 0, 0.3);
  z-index: 100;
}

/* div.tooltip:hover span{
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  top: -13px;
  left: 15px;
  border: 13px transparent solid;
  border-right-width: 0;
  border-left-color: #51A2C1;
  transform:rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  background-color: rgba(0,255,0, 0.3);
  z-index: 100;
} */


.change_mode{
  margin: 0px;
}

/*ラジオボタンを見えなくする*/
.change_mode input{
  display: none;
}
/*自由描画、問題演習のボタンの編集*/
.change_mode label{
  display: block;
  float: left;
  cursor: pointer;
  width:65px;
  padding: 10px;
  background-color: #bdc3c7;
  color: #869198;
  font-size: 16px;
  text-align: center;
  line-height: 1;
  transition: .2s;
}

.change_mode label:first-of-type{
  border-radius: 5px 0 0 5px;
}
.change_mode label:last-of-type{
  border-radius: 0 5px 5px 0;
}

/*選択されたモードの色を指定*/
.change_mode input[type = "radio"]:checked + .mode_draw{
  background-color: #a1b91d;
  color: #fff;
}
.change_mode input[type = "radio"]:checked + .mode_question{
  background-color: #e67168;
  color: #fff;
}

/*区切りに使う縦のライン*/
.height_line{
  float: left;
  margin: 4px 8px;
  border-left: 1px solid #a1a1a1;
  height: 33px;
}

/*ルータにコネクタを接続しようとしたが画像の空白部分が邪魔*/
.dropRouter{
}


/*画像に触れているときのカーソルを指定*/
.ui-draggable{
  cursor: pointer;
}

/*特定の画像に触れているときの処理*/
#ns_nav img:hover, #lan:hover, #ns_rightInfo img:hover{
  margin: -1px;
  border: 1px solid #666;
  border-radius: 5px;
}

.add{
  background-color: red;
}

/******************************/

h4{
  font-size: 20px;
}

/*いらない*/
.movement{
  clear: both;
}
