@charset "UTF-8";

#ns_all{
/**float: left;*/
width: 900px;
}

/*********ツールの設定*************/
#ns_nav{
  margin: 0 0 2px;
  padding: 2px;
  height: 42px;
  width: 894px;
  background-color: rgba(255, 0, 0, 0.3);
}

#ns_nav img{
  padding: 1px 3px;
  height: 40px;
  width: 40px;
  float: left;
}

div.tooltip span{
  display: none;
}

div.tooltip:hover span{
  display: block;
  background-color: rgba(0,255,0, 0.3);
}

.change_mode{
  margin: 0px;
}

/*ラジオボタンを見えなくする*/
.change_mode input{
  display: none;
}
/*自由描画、問題演習のボタンの編集*/
.change_mode label{
  display: block;
  float: left;
  cursor: pointer;
  width:65px;
  padding: 10px;
  background-color: #bdc3c7;
  color: #869198;
  font-size: 16px;
  text-align: center;
  line-height: 1;
  transition: .2s;
}

.change_mode label:first-of-type{
  border-radius: 5px 0 0 5px;
}
.change_mode label:last-of-type{
  border-radius: 0 5px 5px 0;
}

.change_mode input[type = "radio"]:checked + .mode_draw{
  background-color: #a1b91d;
  color: #fff;
}

.change_mode input[type = "radio"]:checked + .mode_question{
  background-color: #e67168;
  color: #fff;
}
/******************************/

/**********左サイドの設定********/
#ns_left{
  margin-right: 3px;
  padding: 5px 5px;
  width: 82px;
  height: 549px;
  background-color: rgba(0, 255, 0, 0.3);
}

/******************************/

/**********メインの設定**********/
#ns_main{
  height: 400px;
  width: 600px;
}
/******************************/

#ns_right{
  height: 400px;
  width: 150px;
  background-color: rgba(100, 100, 0, 0.3);
}

#ns_console{
  height: 150px;
  width: 700px;
  background-color: rgba(0, 255, 255, 0.3);
}

#ns_nav, #ns_left, #ns_main, #ns_right, #ns_console{
  float: left;

}
