
.PC{
  //height: 200px;
  //width: 100px;


}

.router{

}

#PC0{
  background-color: red;
  float: left;
}

#PC1{
  background-color: black;
  float: right;
}

#router1{
  //background-color: blue;
  margin-left: 500px;
}
