
.PC{
  //height: 200px;
  //width: 100px;


}

.router{

}

.btn-wrapper{
  text-align: center;
}

.btn{
  display: inline-block;
  margin: 20px;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;

  color: white;
  background-color: blue;
}

.btn:hover{
  background-color: red;
}



#PC0{
  background-color: red;
  float: left;
}

#PC1{
  background-color: black;
  float: right;
}

#router1{
  //background-color: blue;
  margin-left: 500px;
}
