<%#= javascript_include_tag 'test' %>

<% #ファイル読み込み %>
<!--<script src = "app/assets/javascripts/test.js"></script>
<script src = "app/assets/javascripts/jquery.contextmenu.r2.js"></script> -->
<div class = "page">
<% #アイコンを使う https://fontawesome.com %>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <h1>mainページ</h1>
  <p>JQuery稼働テスト(未稼働)</p>
</div>

<%#topへ移動するボタン%>
<%= form_tag("/", method: :get) do %>
<input type = "submit" value = "topへ">
<% end %>

<% #画像の表示(app/assets/imagesに保存された画像を表示する) %>
<div class = "PC" id = "PC0">
<%= image_tag('/assets/pc.png') %>
</div>
<div class = "PC" id = "PC1">
  <%= image_tag('/assets/pc.png') %>
</div>
<div class = "router" id = "router1">
  <%= image_tag('/assets/router.png') %>
</div>

<div id = "div1">
  divdivdiv
</div>
<div class = "btn-wrapper">
<div class = "btn">
  <% #facebookのアイコンを使用 %>
  <span class = "fa fa-facebook"></span>

  <a href = "/">ボタン</a>
</div>
</div>
